body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header:hover {
    color: white;
    background: red;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

section {
    padding: 40px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

footer:hover {
    color: black;
    background: red;
}